@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	font-family: 'Oswald', 'Futura', sans-serif;
}

.question {
  border: solid;
  margin: 20px; 
	padding: 20px;
  width: fit-content;
}

table thead > tr:nth-child(odd) td, table thead > tr:nth-child(odd) th{
  background:#333;
  color: #fff;
  padding: 4px;
}

table tr:nth-child(odd) td{
  background:#ccc;
  padding: 4px;
}

table tr:nth-child(even) td{
   background:#fff;
   padding: 4px;
}

.joke {
  color: navy;
}

.formRow {
  display: flex;
  margin: 2px;
  margin-right: 20px;
}

.formRow > * {
  flex: 1 2 100px;
}

td {
  text-align: right;
  padding: 3px;
}

.naughty {
  border: 0;
  line-height: 1.5;
  padding: 2 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.naughty:hover {
  background-color: rgba(255, 0, 0, 1);
}

.naughty:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.nice {
  border: 0;
  line-height: 1.5;
  padding: 2 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: rgba(0, 220, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.nice:hover {
  background-color: rgba(0, 255, 0, 1);
}

.nice:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
