@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	font-family: 'Oswald', 'Futura', sans-serif;
}

.question {
  border: solid;
  margin: 20px; 
	padding: 20px;
  width: fit-content;
}

table thead > tr:nth-child(odd) td, table thead > tr:nth-child(odd) th{
  background:#333;
  color: #fff;
  padding: 4px;
}

table tr:nth-child(odd) td{
  background:#ccc;
  padding: 4px;
}

table tr:nth-child(even) td{
   background:#fff;
   padding: 4px;
}

.joke {
  color: navy;
}

.formRow {
  display: flex;
  margin: 2px;
  margin-right: 20px;
}

.formRow > * {
  flex: 1 2 100px;
}

td {
  text-align: right;
  padding: 3px;
}